NODE-RED_Flows/Lab_2_flows.json
[{"id":"8f94cf2b.7f031","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5aa7170b.b66758","type":"inject","z":"8f94cf2b.7f031","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["6275266f.18f028"]]},{"id":"6275266f.18f028","type":"file in","z":"8f94cf2b.7f031","name":"","filename":"/tmp/VoltageTempFile","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":160,"wires":[["637b9c35.572e44"]]},{"id":"637b9c35.572e44","type":"ui_gauge","z":"8f94cf2b.7f031","name":"","group":"99c7bb4b.825188","order":1,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":160,"wires":[]},{"id":"99c7bb4b.825188","type":"ui_group","name":"Volts gague","tab":"f435eed1.29524","order":1,"disp":true,"width":"6","collapse":false},{"id":"f435eed1.29524","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]